nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

h3 {
    color: rgb(26, 89, 101);
}

.navbar-dark .navbar-toggler {
    color: rgb(26, 89, 101);
}

.grey-border-right {
    border-right: 2px solid rgb(227, 235, 235);
    border-bottom: 2px solid rgb(227, 235, 235);
}

.left-padding {
    padding-left: 34px;
}

.responsive-img {
    width: 100%;
    height: auto;
}

.width-correction {
    width: 101px;
}

@media only screen and (min-width: 830px) {
    .ml-12 {
        margin-left: 12rem !important;
    }
}

h3 {
    font-size: 3vw;
}