/* :host {
    background: #343a40;
} */

#sidebar {
    position: fixed;
    min-width: 86px;
    max-width: 86px;
    top: 53px;
    height: 100%;
    max-height: 100vh;
    color: #fff;
    transition: all 0.3s;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2;
    border-right: 2px solid rgb(227, 235, 235);
}

#sidebar.hidden {
    margin-left: -200px;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media (max-width: 575px) {
    #sidebar {
        margin-left: -200px;
    }
    #sidebar.hidden {
        margin-left: 0;
    }
}

a,
a:hover,
a:focus {
    color: inherit;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul li a {
    padding: 15px;
    display: block;
    width: 100%;
}

#sidebar ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(98 203 231);
}

hr {
    border-top: 1px solid #fff;
    margin-top: 0;
}