/* You can add global styles to this file, and also import other style files */

.row {
    margin-right: 0;
}

.bg-white {
    background-color: rgb(246, 250, 251) !important;
}

.navbar-dark .navbar-nav .nav-link {
    text-align: center;
    color: rgb(26, 89, 101);
}

body {
    background-color: #f6fafb;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    text-align: center;
    color: rgb(26, 89, 101);
    border-left: 4px solid rgb(26, 89, 101) !important;
}